:root {
  --clr-grey: rgb(247, 247, 247);
  --shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'montserrat';
  src: url('./assets/font/Montserrat-VariableFont_wght.ttf');
}

body {
  font-family: 'montserrat';
  background-color: #fdfdfd;
}

.main_wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.notActive {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  position: relative;

  .logo_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    background-color: orange;
    padding-inline: 0 0.5rem;

    & > * {
      display: flex;
      align-items: center;
    }

    .logo_link {
      padding: 1.5rem;
      border-radius: 1rem 0 0 1rem;
      transition: all 0.15s ease;
      text-decoration: none;
      color: white;
      font-weight: bold;

      &:hover {
        background-color: rgb(250, 185, 66);
      }
    }

    .catalogue_btn {
      padding: 1rem 1.25rem;
      border-radius: 0.5rem;

      background-color: rgb(255, 184, 52);
      box-shadow: var(--shadow);
      color: white;
      font-weight: bold;
      cursor: pointer;
    }

    #checkbox {
      display: none;

      &:checked ~ .catalogue_btn {
        // transform: rotate(90deg);
        color: black;
      }
    }
  }

  nav {
    display: flex;
    gap: 2rem;

    div {
      display: flex;
      align-items: center;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #272727;
        font-size: 0.85rem;

        border-radius: 0.5rem;
        padding: 0.5rem;
        transition: all 0.25s ease;
        &:hover {
          background-color: var(--clr-grey);
        }
      }
    }
  }

  .search_input_div {
    display: flex;
    width: 100%;
    padding-inline: 1rem;
    position: relative;

    form {
      width: 100%;
    }
    .search_svg {
      position: absolute;
      left: 92%;
      top: 30%;
      color: #cacaca;
    }

    input {
      padding: 1.5rem;
      border-radius: 0.5rem;
      outline: none;
      border: 1px solid var(--clr-grey);
      background-color: var(--clr-grey);
      min-width: 100%;
      transition: all 0.25s ease;

      &:hover {
        box-shadow: var(--shadow);
      }
    }

    /*input:focus*/
    .searchHistory {
      position: absolute;
      justify-content: start;
      flex-direction: column;
      width: 100%;
      box-shadow: var(--shadow);
      background-color: var(--clr-grey);
      padding: 1rem;
      border-radius: 0 0 1rem 1rem;
      width: 96%;

      .search_history_header {
        padding-inline: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
      }

      h4 {
        cursor: pointer;
      }
      .search_history_items {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          padding: 0.7rem;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-decoration: none;
          color: #272727;

          &:hover {
            background-color: #acacac30;
          }
        }
      }
      .close_svg {
        z-index: 1;
        cursor: pointer;
      }
    }
  }
}

.catalogue_main_wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.catalogue {
  border-radius: 1rem;
  box-shadow: 0px 0px 63px 14px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  z-index: 1;

  .headers_container {
    padding: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;

    .catalogue_menu_item {
      padding-block: 0.5rem;
      cursor: pointer;
      position: relative;

      a {
        text-decoration: none;
        color: black;
      }

      &:hover {
        &::after {
          content: '';
          position: absolute;
          left: -3.5%;
          height: 100%;
          top: 0;
          width: 3px;
          background-color: orange;
        }
      }
    }

    .catalogue_menu_item-active {
      padding-block: 0.5rem;
      cursor: pointer;
      position: relative;
      a {
        text-decoration: none;
        color: black;
      }
      &::after {
        content: '';
        position: absolute;
        left: -3.5%;
        height: 100%;
        top: 0;
        width: 3px;
        background-color: orange;
      }
    }
  }

  .items_container {
    width: 100%;

    .main_header {
      display: grid;
      grid-template-rows: repeat(100%, 1fr);
      gap: 1rem;
      padding: 1rem;
      gap: 1rem;

      .sub_header_items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
      }
    }
  }
}

.catalogue_header_page {
  display: flex;
  flex-direction: column;

  .catalogs_header_items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 1rem;
    padding-block: 1rem;

    a {
      text-decoration: none;
      color: #272727;
      margin: 1rem auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      place-items: center;
      padding: 1rem;
    }

    h3 {
      text-align: center;
    }

    .card {
      // max-width: 15vw;
      border-radius: 1rem;
      background-color: white;
      transition: all 0.25s ease;
      cursor: pointer;

      &:hover {
        box-shadow: var(--shadow);
      }
    }
  }
}

.slider_main {
  position: relative;

  button {
    position: absolute;
    z-index: 2;
  }
  .btnLeft {
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
  }
  .btnRight {
    top: 50%;
    left: 96%;
  }
}

.slider {
  display: flex;
  width: 100%;
  height: 300px;
  gap: 1rem;
  overflow: hidden;
  position: relative;

  &:hover {
  }

  .slider_item {
    width: 400px;
    height: 300px;
    position: relative;

    .slider_item_inner {
      width: 400px;
      height: 300px;
      border-radius: 0.5rem;
      background-size: cover;
      background-position: center;

      .background-grey {
        border-radius: 0.5rem;
        position: absolute;
        height: 300px;
        width: 100%;
        background: linear-gradient(#cacaca60 0%, #ffffff01 100%);
        z-index: 0;
      }
      p,
      span {
        color: white;
        z-index: 1;
      }
    }
  }
}

.news_buttons {
  .btnNewsNotActive {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.15s ease;
    cursor: pointer;

    &:hover {
      background-color: #cacaca80;
    }
  }
  .newsBtnActive {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.15s ease;
    cursor: pointer;
    background-color: white;
    box-shadow: var(--shadow);
  }
}

.news_content {
  display: flex;
  overflow: hidden;
  border: 1px solid black;
  background-color: black;
  .news_content_inner {
    width: 100%;
    // overflow: hidden;
    background-color: aqua;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    // align-items: center;

    .item {
      min-width: 20%;

      border: 1px solid;
      position: relative;

      h2 {
        font-size: 0.8rem;
        position: absolute;
        top: 50%;
      }
      img {
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
    }
  }
}

.products_main_items {
  display: flex;
}

.products_menu {
  display: flex;
  width: 30%;
}

.products_items_column {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;

  .products_item_card_column {
    display: flex;
    justify-content: space-between;

    .products_item_card_column_title {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
  }
}
