:root {
  --clr-grey: rgb(247, 247, 247);
  --shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "montserrat";
  src: url("./assets/font/Montserrat-VariableFont_wght.ttf");
}

body {
  font-family: "montserrat";
  background-color: #fdfdfd;
}

.main_wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.notActive {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  position: relative;

  .logo_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    background-color: orange;
    padding-inline: 0 0.5rem;

    & > * {
      display: flex;
      align-items: center;
    }

    .logo_link {
      padding: 1.5rem;
      border-radius: 1rem 0 0 1rem;
      transition: all 0.15s ease;
      text-decoration: none;
      color: white;
      font-weight: bold;

      &:hover {
        background-color: rgb(250, 185, 66);
      }
    }

    .catalogue_btn {
      padding: 1rem 1.25rem;
      border-radius: 0.5rem;

      background-color: rgb(255, 184, 52);
      box-shadow: var(--shadow);
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
  }

  nav {
    display: flex;
    gap: 2rem;

    div {
      display: flex;
      align-items: center;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #272727;
        font-size: 0.85rem;

        border-radius: 0.5rem;
        padding: 0.5rem;
        transition: all 0.25s ease;
        &:hover {
          background-color: var(--clr-grey);
        }
      }
    }
  }

  .search_input_div {
    display: flex;
    width: 100%;
    padding-inline: 1rem;
    position: relative;

    svg {
      position: absolute;
      left: 92%;
      top: 30%;
      color: #cacaca;
    }

    input {
      padding: 1.5rem;
      border-radius: 0.5rem;
      outline: none;
      border: 1px solid var(--clr-grey);
      background-color: var(--clr-grey);
      min-width: 100%;
      transition: all 0.25s ease;

      &:hover {
        box-shadow: var(--shadow);
      }
    }
  }
}

.catalogue_main_wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
}

.catalogue {
  border-radius: 1rem;
  box-shadow: 0px 0px 63px 14px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;

  .headers_container {
    padding: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;

    .catalogue_menu_item {
      padding-block: 0.5rem;
      cursor: pointer;
      position: relative;
      &:hover {
        &::after {
          content: "";
          position: absolute;
          left: -3.5%;
          height: 100%;
          top: 0;
          width: 3px;
          background-color: orange;
        }
      }
    }

    .catalogue_menu_item-active {
      padding-block: 0.5rem;
      cursor: pointer;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: -3.5%;
        height: 100%;
        top: 0;
        width: 3px;
        background-color: orange;
      }
    }
  }

  .items_container {
    width: 100%;

    .main_header {
      display: grid;
      grid-template-rows: repeat(100%, 1fr);
      gap: 1rem;
      padding: 1rem;
      gap: 1rem;

      .sub_header_items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
      }
    }
  }
}
